---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not Found">
  <main style="height: 80vh; text-align: center; padding-top: 100px">
    <h1>Oops! Page not found</h1>
    <p style="margin: 20px">
      Go to the
      <a
        style="color: #10455b; border: 2px solid #ffaf20; padding: 8px"
        href="/"
      >
        home page</a
      >
    </p>
  </main>
</Layout>
