---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Us">
  <div class="about-title">
    <div class="container white-text">
      <h1>Who we Are</h1>
    </div>
  </div>
  <div class="container about-content">
    <div class="row">
      <div class="col l8 m12 s12">
        <p>
          Mayy Elites is an online platform geared to providing tutoring and
          homeschooling services. Initially, it was founded to provide extra
          classes for:
        </p>
        <ol>
          <li>Students who wanted to stay ahead in class.</li>
          <li>
            Those preparing for their final exams, for example IGCSE, KCPE and
            KCSE.
          </li>
          <li>
            And those who wanted to improve their grades in certain subjects.
          </li>
        </ol>
        <p>
          Having interacted with various students, we realized their
          self-confidence was boosted each time they managed to tackle an exam
          question successfully.
        </p>
        <p>
          They were happier and felt much at ease with their educational
          journey; they even took charge of their study sessions.
        </p>
        <p>In short, education to them became fulfilling.</p>
      </div>
    </div>
  </div>
  <!--About section 2-->
  <div class="about-section-2">
    <div class="container">
      <div class="left-col">
        <h2>Why we started</h2>
        <img src="/img/girl-student-reading.jpg" alt="" />
      </div>
      <div class="right-col">
        <p>
          We realized that we had no greater joy than this; infusing fun to the
          learning experience, encouraging innovation among learners and most
          importantly putting a smile on their faces without underscoring
          academic rigor.
        </p>
        <p>
          It is for this reason that Mayy Elites was born online; to allow as
          many students and families benefit from the academic and emotional
          support we provide.
        </p>
        <p>
          We offer tuition for both the 8-4-4 ( Kenyan system of education) and
          the Cambridge International Curriculum(CIE).
        </p>
        <p>
          At Mayy Elites, our purpose is to create a safe haven and close-knit
          community among our learners and teachers. This helps in making
          learning both breathable and enjoyable.
        </p>
      </div>
    </div>
  </div>
  <!--About section 3-->
  <div class="about-section-3">
    <div class="container">
      <div class="left-col">
        <p>
          We realize that the world is ever changing and because we pride
          ourselves in education and technology, we are happy to help in
          imparting some of the essential skills that are proving to be more and
          more relevant today.
        </p>
        <p>
          What we offer is a full feature experience for modern families; an
          opportunity to study from the comfort of your home and still get time
          to pursue your interests, while spending the much needed time with
          your family. How easy can it get!
        </p>
        <h3>Our mission.</h3>
        <p>
          As a team, we are dedicated to providing top-notch learning experience
          to students from all walks of life and especially to those uniquely
          talented. In line with our mission, we want to provide:
        </p>
        <ul>
          <li>Quality education that is easily accessible</li>
          <li>
            Affordable support learning that makes it easy for all learners to
            access help.
          </li>
        </ul>
      </div>
      <div class="right-col">
        <h2>Why we do this</h2>

        <img src="/img/grad-student-green-cap.jpg" alt="" />
      </div>
    </div>
  </div>
  <!--About section 4-->
  <div class="about-section-4">
    <div class="container white-text">
      <div class="left-col">
        <h3>Why Choose Us</h3>
      </div>
      <div class="right-col">
        <p>
          We want to put a smile on your child&apos;s face as we work with you
          towards not only realizing his/her goal of passing exams, but also,
          equipping them to ensure they are ready to take on the real world.
        </p>
        <p>
          Learning is at the heart of what we do and that is why we want our
          students to enjoy learning for its own sake and not for exams sake.
        </p>
        <p>
          With an array of experience from interacting with different students,
          we know how to make your experience worthwhile. Talk to us today to
          get a customized program suited to your child&apos;s needs alongside
          an offer just for you!
        </p>
        <p>
          Our team of experts are always a click away to provide the needed
          support required by both you and your child thus making a difference
          in your child&apos;s academic results.
        </p>
        <a href="/contact" class="btn red accent-3">Talk to an expert</a>
      </div>
    </div>
  </div>
</Layout>
