---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Error">
  <main style="height: 80vh; text-align: center; padding-top: 100px">
    <h1 class="red-text">Sorry, an error occurred</h1>
    <p style="padding: 30px 50px">
      Your form was not submitted, check if all fields are filled correctly or
      try again later.
    </p>
    <p style="margin: 20px">
      Go back to the&nbsp;
      <a class="btn cyan darken-4" href="/contact">Contact Form</a>
    </p>
  </main>
</Layout>
