---
import Layout from "../layouts/Layout.astro";
---

<Layout title="School Fees">
  <div class="pricing-sec-1">
    <div class="container white-text center">
      <h1>School Fees</h1>
      <p>Quality Learning at Affordable Rates</p>
    </div>
  </div>

  <!-- Homeschooling fees -->
  <div class="services section">
    <div class="container row section">
      <h2>Homeschooling Fees</h2>
      <div class="col l6 s12">
        <p>
          At Mayy Elites we strive to make education accessible to everyone. We
          want to ensure that no one who is willing to learn lacks education
          because of fees. Therefore, our fees are thoroughly revised to make
          them as pocket friendly as possible.
        </p>
        <p>
          Our fees start from as low as ksh. 13500 per month (US $150) for
          virtual group classes comprising of 10 students per class. For one on
          one classes, kindly contact us to get a customized fee. Talk to us
          today to negotiate an offer just for you.
        </p>
        <div class="section">
          <a href="contact.php" class="btn z-depth-0 pink darken-4"
            >Talk to us</a
          >
        </div>
      </div>
      <div class="col l6 s12">
        <img src="/img/cs.jpg" alt="" />
      </div>
    </div>
  </div>
  <!-- Pricing sec 2 -->
  <div class="services section">
    <div class="container row">
      <h2>One on One Tuition Fees</h2>
      <p>
        No need to stress over revision. Whether you need to stay ahead in class
        or are trying to catch up on missed or difficult content; we are here
        for you. <br />
        <br />
        Join our online family and stay ahead constantly. <br />
        <br />
        Our fees are as pocket friendly as they come. Pick a package below and watch
        your education become a breeze! <br /><br />
        Feel free to contact us to create a custom package tailored to your needs.
      </p>
      <div class="col l4 s12 m6">
        <div class="card center">
          <div class="card-content">
            <h3>Most Popular</h3>
            <h4>35+ hours</h4>
            <span class="card-title"> Ksh. 700/hr</span>
            <p>You save 41.7%</p>
          </div>
          <div class="card-action cyan darken-4 white-text">
            <a href="/contact" class="white-text">Request Now</a>
          </div>
        </div>
      </div>
      <div class="col l4 s12 m6">
        <div class="card center">
          <div class="card-content">
            <h3>Medium</h3>
            <h4>15 - 30 hours</h4>
            <span class="card-title"> Ksh. 800/hr</span>
            <p>You save 33.3%</p>
          </div>
          <div class="card-action cyan darken-4 white-text">
            <a href="/contact" class="white-text">Request Now</a>
          </div>
        </div>
      </div>
      <div class="col l4 s12 m6">
        <div class="card center">
          <div class="card-content">
            <h3>Recovery</h3>
            <h4>15 - 30 hours</h4>
            <span class="card-title"> Ksh. 900/hr</span>
            <p>You save 25%</p>
          </div>
          <div class="card-action cyan darken-4 white-text">
            <a href="/contact" class="white-text">Request Now</a>
          </div>
        </div>
      </div>
      <div class="col l4 s12 m6">
        <div class="card center">
          <div class="card-content">
            <h3>Pay As You Go</h3>
            <h4>No specific hours</h4>
            <span class="card-title"> Ksh. 1200/hr</span>
            <p>You save 0%</p>
          </div>
          <div class="card-action cyan darken-4 white-text">
            <a href="/contact" class="white-text">Request Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
