---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Homeschooling">
  <!--Homeschooling content section 1-->
  <div id="homeschooling-hero">
    <div class="container white-text center">
      <h1>Homeschooling</h1>
      <p>
        Our interactive learning makes your homeschooling experience worthwhile
      </p>
    </div>
  </div>
  <!--Programming content section 2-->
  <div class="general-sec-2 container section row">
    <div class="col l7 s12 m6">
      <p>Thinking of an alternative to formal schooling for your child?</p>
      <p>
        Homeschooling has gained popularity in the recent years as some families
        are in a position to arrange for one parent to school the kids. We are
        aware, though, that this fashion might not be possible for the modern
        family where both parents have to work.
      </p>
      <p>
        That is why we are here! We take the burden off your shoulders and
        homeschool your child in your behalf.
      </p>
      <p>
        At Mayy Elites, we realized that there are students whose circumstances
        make it hard for them to access and/or enjoy learning in a formal
        school. These are some of the reasons:
      </p>
      <ol>
        <li>Bullying</li>
        <li>Being a fast learner/gifted</li>
        <li>Needing special attention/ slow learner</li>
        <li>Extremely talented/ performing artists and athletes</li>
        <li>Sickness among many other reasons.</li>
      </ol>
    </div>
    <div class="media-img col l5 s12 m6">
      <img src="img/blank-canvas.png" alt="" />
    </div>
  </div>
  <!-- Section 3 -->
  <div class="container sec-3 row section">
    <div class="col l4 s12">
      <img src="img/education.png" alt="" />
    </div>
    <div class="col l8 s12">
      <p>
        We are aware that these children face a wide range of challenging
        situations and that is why we feel they are best suited to be
        homeschooled. In addition, there have been cases whereby parents opted
        to find an option that allows them to stipulate and implement the key
        values and practices that work for their family, in an effort to adress
        the specific needs of the child. This too is a reason to homeschool.
        That is why we designed our homeschooling program to be different.
      </p>
      <p>
        We offer the Cambridge International Curriculum exclusively for
        homeschooling. See the options available for your convenience below:
      </p>
    </div>
  </div>
  <!-- Table -->
  <div class="container section">
    <table class="striped">
      <tr>
        <th>OPTION 1. (digitally homeschooled)</th>
        <th>OPTION 2. (parent based homeschool)</th>
      </tr>
      <tr>
        <td>
          Your child picks his/her subjects of interest depending on the level
          of study.(see levels of study)
        </td>
        <td>
          Your child picks the preferred curriculum and request for the
          curriculum structure.
        </td>
      </tr>
      <tr>
        <td>
          provision of the program of study and one on one lessons or virtual
          group lessons
        </td>
        <td> Provision of programme of study only</td>
      </tr>
      <tr>
        <td
          >You will receive a list of the preferred study books to obtain as
          well as supporting material.</td
        >
        <td
          >Advice on the supporting materials or study books to obtain if
          needed.</td
        >
      </tr>
      <tr>
        <td
          >Respective tutors are assigned (according to your child&apos;s
          needs)for the online classes.</td
        >
        <td
          >Your child will learn on their own or through the assistance of the
          parent.</td
        >
      </tr>
      <tr>
        <td
          >A progress manager is chosen to ensure that learning runs smoothly
          and that your child is comfortable.</td
        >
        <td
          >A progress manager is assigned to help your child keep track with his
          or her course.</td
        >
      </tr>
      <tr>
        <td
          >Any complains will be reported and handled by your progress manager.</td
        >
        <td
          >Any complains or further advice needed will be handled by your
          progress manager.</td
        >
      </tr>
      <tr>
        <td
          >Have access to tests and exams geared to preparing you for the final
          exams as per the board you choose.(CAMBRIDGE/ EDEXCEL)</td
        >
        <td
          >Have access to a customized schedule that stipulates test and exam
          dates as per the board you choose.(CAMBRIDGE/ EDEXCEL)</td
        >
      </tr>
      <tr>
        <td
          >• Feedback given to parents every fortnight by the respective
          progress manager on matters arising and learning progression.</td
        >
        <td
          >• Progress manager will be available to discuss matters arising with
          the parent of the child should there be a matter.</td
        >
      </tr>
    </table>
  </div>

  <div class="sec-4 section container row">
    <div class="col l8 s12">
      <p>
        We champion this curriculum because we believe it will help students
        develop their critical thinking and evaluation skills, thus giving them
        the tools they need to make it in life.
      </p>
      <p>
        It helps too that this system is widely and acceptably recognized across
        the globe; so you do not need to worry about how and where your child
        will further their education or if they will secure a job.
      </p>
      <p>
        Our team of teachers are well trained and ready to walk with you and
        your child through this form of schooling. Incase it is a new concept to
        you and you would like to try it out, feel free to contact us with any
        questions you may have and we will be happy to assist .
      </p>
    </div>
  </div>
  <div class="sec-5 section container row">
    <div class="col l5 s12">
      <h5 class="section">Advantages of homeschooling</h5>
      <img src="img/book-lover.png" alt="" />
    </div>
    <div class="col l7 s12">
      <ol>
        <li>
          It is flexible especially for students who want to pursue their
          talents while still getting quality education.
        </li>
        <li>
          Homeschooling accords your child the opportunity to learn at their own
          pace. For instance; if your child is gifted and requires a special
          program customized to suit his needs in the areas that he is not so
          comfortable with, this can be done. <br />
          Or, if your child is taking grade 3 courses but is not well conversant
          with grade 2 English work, they can always choose to continue with grade
          3 for the other subjects but polish their grade 2 English until they master
          it. Then they can move on.
        </li>
        <li>
          Your child gets the liberty to study from the comfort of their home.
          Sometimes some children have social anxiety and prefer not to be in a
          formal school because mingling with the other kids makes them nervous
          or being compared to others because of one&apos;s academic performance
          makes them unhappy. <br />
          In this case, your child is better of learning in an environment he/she
          is familiar with.
        </li>
        <li>
          In the event that you are an expatriate currently living in a
          different country and would not want your child to experience
          victimization either because of race or religion or any other reason:
          worry no more. We offer learning to children all over the world as
          long as you understand English (which is our language mode of
          communication) you will be sorted.
        </li>
        <li>
          You get a chance to study from wherever you are! Even if you are a
          travelling family as long as you have a laptop and have access to a
          reliable internet.
        </li>
      </ol>
    </div>
  </div>
</Layout>

<style>
  #homeschooling-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/img/student-on-street.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    align-items: center;
  }
</style>
