---
import Layout from "../layouts/Layout.astro";
import Subjects from "../components/Subjects.astro";
---

<Layout title="Primary Level">
  <div class="primary-sec">
    <div class="container white-text">
      <h1>Primary Level</h1>
      <p>Key Stage 1 & 2
      </p>
    </div>
  </div>
  <div class="primary-content">
    <div class="container section row">
      <div class="col l7 s12">
        <p>
          Our curriculum is aligned with the Cambridge Curriculum to offer the most effective
          and up to date learning techniques. The curriculum is well balanced and broadened
          to pay attention to each student's abilities. We strive to reach the heart of our young
          learners enabling them to develop skills essential to battle the challeges and manouvers of life.
        </p>
        <p>
          All our learners have an input on how the curriculum will be developed in order to
          suit their abilities. We instill skills such as innovation, collaboration and communication
          at this early and crucial stage of learning.
  
        </p>
      </div>
      <div class="col l5 s12">
        <img src="img/back-to-school.png" alt="An illustration of a Student going to school">
      </div>
    </div>
  </div>

  <!-- Subjects -->
  <Subjects/>
</Layout>