---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Programming">
  <!--Programming content section 1-->
  <div class="programming-sec-1">
    <div class="container white-text center">
      <h1>Computing and Programming</h1>
      <p>Learn Computing with the very best</p>
    </div>
  </div>
  <!--Programming content section 2-->
  <div class="general-sec-2 container section row">
    <div class="col l7 s12 m6">
      <p>
        Computing has changed practically how we do things. For example the
        pandemic of Coronavirus has seen the usage technology skyrocket. This
        shows how computing knowledge is vital for almost everyone.
      </p>
      <p>
        The way we approach computing and programming has proven effective to
        many students. We help the student see technology as a blessing that can
        be used to solve real problems.
      </p>
      <p>
        When introduced early, students can grow up capable of handling any
        tough tasks that may or may not require technology usage. This is so
        because computing and programming help the student learn to think
        critically, hence becoming more solution-oriented.
      </p>
      <p>
        Some of the computing skills that we teach include: <br />
        1) General Computer Literacy <br />
        2) Graphic Design <br />
        3) Software Development <br />
        4) Computer Security <br />
        5) Computer Science (For Cambridge Curriculum)
      </p>
      <p>
        <a href="contact" class="btn orange darken-4">Talk to a Teacher</a>
      </p>
    </div>
    <div class="media-img col l5 s12 m6">
      <img src="img/young-cool-students-2.jpg" alt="" />
    </div>
  </div>
</Layout>
