---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tuition">
  <!--Tuition content-->
  <div class="tuition-sec-1">
    <div class="container white-text center">
      <h1>Holiday Tuition</h1>
      <p>Learn The best way</p>
    </div>
  </div>
  <!--Tuition content section 2-->
  <div class="general-sec-2 container section row">
    <div class="col l8 s12">
      <p>
        What we offer is more than tuition. We strive to bond with your child at
        first before we start teaching them. This enables us to know them
        better, which in turns helps us to approach the content with the needs
        of the student in mind.
      </p>
      <p>
        This is vital if we are to reach the student's heart and put the content
        there in a way he/she will never forget. And even more, see the
        practicality of the content.
      </p>
      <p>
        Our teachers are regularly trained to focus on the student's abilities
        and needs. This enables our teachers help the child the best way
        possible. To see through the student and to resonate with them.
      </p>
      <p>
        <a href="contact" class="btn pink darken-4">Talk to a Teacher</a>
      </p>
    </div>
    <div class="media-img col l4 s12">
      <img src="/img/girl-online-class.jpg" alt="" />
    </div>
  </div>
  <!--Exam Prep content-->
  <div class="container intro-content row">
    <div class="left-col col l8 s12">
      <h2>Exam Prep Made Easy</h2>
      <p>
        Do you Feel stressed while preparing for a test or is it your final exam
        that is giving you sleepless nights? Could it be because you feel
        unprepared? Do you fear that you have less time to cover the topics, or
        is it that you doubt your mastery of the content?
      </p>
      <p>
        Our well trained tutors provide a step by step guide on: <br />
        1) What to read <br />
        2) How to develop good study habits <br />
        3) Proven approaches on how to tackle difficult questions and so much more.
      </p>
      <p>
        Be smart and intentional about how you tackle these common problems
        faced by many students.
      </p>
    </div>
    <div class="right-col col l4 s12">
      <img src="/img/student-stress.jpeg" alt="" />
    </div>
  </div>
  <!-- What to Expect Content-->
  <div class="container expect section">
    <div class="left-col">
      <img src="/img/student-on-street.jpg" alt="" />
    </div>
    <div class="right-col">
      <h3>What to expect</h3>
      <ul>
        <li>
          Latest news on what topics are exam-friendly and the tips to handling
          the practical questions that test your knowledge on any subject.
        </li>
        <li>Missed content recovery/ Content that seems hard to understand</li>
        <li>
          Access to hands-on tutor who will ensure you have the necessary skills
          and knowledge needed to boost your performance.
        </li>
      </ul>
      <p>
        We put each child's needs first before formulating a customized program.
        Talk to us today and get expert advice on this subject and much more.
      </p>
    </div>
  </div>
</Layout>
