<!-- Enroll January 2020 -->
<div class="container enroll grey darken-3 white-text section">
  <div class="container section">
    <h3>Get a one hour free Math class</h3>
    <p>
      During October - December 2022, we are offering free Math classes for one
      hour.
    </p>

    <p>
      Request a free class and interact with our highly experienced teachers.
    </p>
    <a href="/free-class" class="btn section pink darken-4">
      Get a Free Class</a
    >
    <!-- <a href="enroll-form.php" class="btn pink darken-3">Enroll now</a> -->
  </div>
</div>
