<!-- Secondary Subjects -->
<div class="container section">
  <h3 class="center">Some of the Subjects Offered</h3>
  <!-- Row 1 subjects -->
  <div class="row">
    <!-- Math -->
    <div class="col s12 l4">
      <div class="card small">
        <div class="card-image">
          <img src="/img/math.jpg" alt="Student doing math" />
        </div>
        <div class="card-content">
          <h4>Mathematics</h4>
        </div>
      </div>
    </div>

    <!-- Eng -->
    <div class="col s12 l4">
      <div class="card small">
        <div class="card-image">
          <img src="/img/bibliophile.png" alt="English" />
        </div>
        <div class="card-content">
          <h4>English</h4>
        </div>
      </div>
    </div>

    <!-- Physics -->
    <div class="col s12 l4">
      <div class="card small">
        <div class="card-image">
          <img src="/img/physics.jpg" alt="Physics" />
        </div>
        <div class="card-content">
          <h4>Physics</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- Row 2 subjects -->
  <div class="row">
    <!-- Biology -->
    <div class="col s12 l4">
      <div class="card small">
        <div class="card-image">
          <img src="/img/biology.jpg" alt="Biology" />
        </div>
        <div class="card-content">
          <h4>Biology</h4>
        </div>
      </div>
    </div>

    <!-- Chem -->
    <div class="col s12 l4">
      <div class="card small">
        <div class="card-image">
          <img src="/img/chemistry.jpg" alt="Chemistry" />
        </div>
        <div class="card-content">
          <h4>Chemistry</h4>
        </div>
      </div>
    </div>
    <!-- Geography -->
    <div class="col s12 l4">
      <div class="card small">
        <div class="card-image">
          <img src="/img/geography.jpg" alt="Geography" />
        </div>
        <div class="card-content">
          <h4>Geography</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- Row 3 subjects -->
  <div class="row">
    <!-- History -->
    <div class="col s12 l4">
      <div class="card small">
        <div class="card-image">
          <img src="/img/history.jpg" alt="History" />
        </div>
        <div class="card-content">
          <h4>History</h4>
        </div>
      </div>
    </div>

    <!-- Computer Science -->
    <div class="col s12 l4">
      <div class="card small">
        <div class="card-image">
          <img src="/img/cs-1.jpg" alt="Computer Science" />
        </div>
        <div class="card-content">
          <h4>Computer Science</h4>
        </div>
      </div>
    </div>

    <!-- Business Studies -->
    <div class="col s12 l4">
      <div class="card small">
        <div class="card-image">
          <img src="/img/bs.jpg" alt="Business Studies" />
        </div>
        <div class="card-content">
          <h4>Business studies</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- Row 4 subjects -->
  <div class="row">
    <!-- ICT -->
    <div class="col s12 l4">
      <div class="card small">
        <div class="card-image">
          <img src="/img/young-cool-students-3.jpg" alt="ICT Students" />
        </div>
        <div class="card-content">
          <h4>ICT</h4>
        </div>
      </div>
    </div>

    <!-- Chem -->
    <div class="col s12 l4">
      <div class="card small">
        <div class="card-image">
          <img src="/img/art.jpg" alt="Art Students" />
        </div>
        <div class="card-content">
          <h4>Art</h4>
        </div>
      </div>
    </div>

    <!-- Eng -->
    <div class="col s12 l4">
      <div class="card small">
        <div class="card-image">
          <img
            src="/img/child-using-computer.jpg"
            alt="Digital Literacy Students"
          />
        </div>
        <div class="card-content">
          <h4>Digital Literacy</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- Call to action -->
  <div class="section">
    <p>
      Talk to us and get to know more of how we teach these subjects to our
      students. Also get to know the best subjects combination for your child.
    </p>
    <p><a href="/contact" class="btn pink darken-4">Talk to an Expert</a></p>
  </div>
</div>
